@font-face {
	font-family: 'Expletus Sans';
	src: url('/fonts/ExpletusSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind-Regular.ttf') format('truetype');
}
/* Exo 2 700 */

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Noto Sans 400 */

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/NotoSans/400/NotoSans400.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/NotoSans/400/NotoSans400-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/NotoSans/400/NotoSans400-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Noto Sans 400i */

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/NotoSans/400i/NotoSans400i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/NotoSans/400i/NotoSans400i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/NotoSans/400i/NotoSans400i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Noto Sans 700 */

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/NotoSans/700/NotoSans700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/NotoSans/700/NotoSans700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/NotoSans/700/NotoSans700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Noto Sans 700i */

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/NotoSans/700i/NotoSans700i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/NotoSans/700i/NotoSans700i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/NotoSans/700i/NotoSans700i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Exo 700 */

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo/700/Exo700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo/700/Exo700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Exo';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo/700/Exo700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Lora 400 */

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Lora/400/Lora400.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Lora/400/Lora400-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Lora/400/Lora400-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Lora 400i */

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Lora/400i/Lora400i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Lora/400i/Lora400i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Lora/400i/Lora400i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Lora 700 */

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Lora/700/Lora700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Lora/700/Lora700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Lora/700/Lora700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Lora 700i */

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Lora/700i/Lora700i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Lora/700i/Lora700i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Lora';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Lora/700i/Lora700i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Exo 2 700 */

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-cyrillic.woff2') format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-cyrillic-ext.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-display: swap;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Exo2/700/Exo2700-vietnamese.woff2') format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}


/* Merriweather 400 */

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Merriweather/400/Merriweather400.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Merriweather/400/Merriweather400-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Merriweather/400/Merriweather400-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Merriweather 400i */

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Merriweather/400i/Merriweather400i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Merriweather/400i/Merriweather400i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/Merriweather/400i/Merriweather400i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Merriweather 700 */

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Merriweather/700/Merriweather700.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Merriweather/700/Merriweather700-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Merriweather/700/Merriweather700-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Merriweather 700i */

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Merriweather/700i/Merriweather700i.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Merriweather/700i/Merriweather700i-latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-display: swap;
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/Merriweather/700i/Merriweather700i-latin-ext.woff2') format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

