{{ $hero := resources.Get "images/hero.jpg" }}

div.hero {
	@media (min-width: 600px) {
		height: 33vh;
		background-image: url('{{ $hero.RelPermalink }}');
		background-size: cover;
		background-position: center;
	}
}

header {
	top: 0;
}

div.flexcontainer-horizontal {
	display: flex;
	flex-direction: row;
	width: 100%;
}

div.flexcontainer-vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.introtext {
	flex: 1 1 50%;
	margin: 0px;
	padding: 1rem;

	@if $debug {
		border: white solid 1px;
	}
}

