$font-size-base: 16px;

$color-background: #272e33;
$color-text: #d3c6aa;
$color-link: #f07;
$color-link-visited: darken($color-link, 10%);

/* First let's undo the browser's default styles */
* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: $color-background;
	color: $color-text;

	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

body > * {
	flex: 0 0 auto;
}
