div.post {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 2rem;
	
	align-items: stretch;
	width: 100%;

	@if $debug {
		border: white solid 1px;
	}

	article {
		@if $debug {
			border: white solid 1px;
		}
	}


	aside {
		@if $debug {
			border: white solid 1px;
		}
	}
}

ul.posts-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

	list-style: none;
	padding: 0;

	gap: 2rem;

	li {
		@if $debug {
			border: white solid 1px;
		}
	}
}
