div.post {
	display: flex;
	width: 100%;

	border: 1px solid white;

	article {
		max-width: 70%;
		margin: 1rem;
		flex: 1 0 auto;
		border: white solid	1px;
	}


	aside {
		flex: 1 0 auto;
		border: white solid 1px;
	}
}
