article {
	margin: 2rem;
//	max-width: 650px;
	border-radius: 4px;
	padding: 1.5em;
	text-align: justify;
}

blockquote {
	border-left: 10px solid #ff0070;
	font-size: 2rem;
	margin: 1.5rem 10px;
	padding: 0.5rem 10px;
}

blockquote p:last-child {
	color: $color-text;
	font-size: 1rem;
	font-style: italic;
	text-align: right;
}

