$font-size-base: 20px;
$line-height-base: 1.5;

html {
	font-size: $font-size-base;
	font-family: 'Noto Sans', sans-serif;
	line-height: $line-height-base;

	// Many thanks to Spencer Mortensen for this technique
	// https://spencermortensen.com/articles/typographic-scale/

	font-size: clamp(1em, 0.8333vw + 0.775em, 1.25em);
}

h1 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 2.5rem;
}

h2 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 2.14159rem;
}

h3 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 1.842rem;
}

h4 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 1.5811rem;
}

h5 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 1.3572rem;
}

h6 {
	font-family: 'Exo 2';
	font-weight: 700; /* bold */
	font-size: 1.165rem;
}

small {
	font-size: 15.4507px;
}

a {
	color: $color-link;
	font-style: normal;
}

a:visited {
	color: $color-link-visited;
}

code {
	font-family: 'Fira Code', monospace;
	font-size: 0.9em;
}
