@font-face {
  font-family: "Expletus Sans";
  src: url("/fonts/ExpletusSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Regular.ttf") format("truetype");
}

body {
	font-family: 'Hind';
  font-weight: var(--font-weight-base);
  font-size: var(--base-font-size);
}

a {
	color: var(--color-link);
	font-style: normal;
}

a:visited {
	color: var(--color-link-visited);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Expletus Sans';
  font-weight: var(--font-weight-heading);
}