{{ define "main" -}}
<main class="grid auto-rows-auto grid-cols-12 gap-6 py-6">
	<header class="col-span-12 lg:col-span-9">
		<h1 class="mb-4 text-5xl font-bold text-stone-50">{{ .Title }}</h1>
		{{ with .Resources.GetMatch "banner" }}
		{{ $img := .Resize "800x" }}
		<div class="flex h-48 items-center justify-center overflow-hidden rounded">
			<img src="{{ $img.RelPermalink }}" alt="{{ .Title }} banner image" class="w-full" />
		</div>
		{{ end }}
	</header>

	<aside
		class="col-span-12 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:row-span-2 lg:block lg:grid-cols-1 lg:col-span-3">
		<section>
			<h3 class="mb-1 text-lg text-stone-500">Published</h3>
			{{ partial "author.html" . }}
		</section>

		{{ if .Params.tags }}
		<section>
			<h3 class="text-lg text-stone-500">Tags</h3>
			{{ partial "tags.html" . }}
		</section>
		{{ end }}

		{{ if .Params.attribution }}
		<section>
			<h3 class="mb-1 text-lg text-stone-500">Attribution</h3>
			<ul>
				{{ range .Params.attribution }}
				<li class="text-sm prose prose-invert mb-2 last:mb-0">{{ . | safeHTML }}</li>
				{{ end }}
			</ul>
		</section>
		{{ end }}

		{{ if .Params.references }}
		<section>
			<h3 class="mb-1 text-lg text-stone-500">References</h3>
			<ul>
				{{ range .Params.references }}
				<li class="text-sm prose prose-invert mb-2 last:mb-0">{{ . | safeHTML }}</li>
				{{ end }}
			</ul>
		</section>
		{{ end }}

		<section class="hidden lg:block">
			<h3 class="mb-1 text-lg text-stone-500">Navigation</h3>
			<ul>
				{{ if .Prev }}
				<li class="float-left"><a class="text-sm hover:underline" href="{{ .Prev.Permalink }}">&lt;&lt; Prev</a>
				</li>
				{{ end }}

				{{ if .Next }}
				<li class="float-right"><a class="text-sm hover:underline" href="{{ .Next.Permalink }}">Next
						&gt;&gt;</a></li>
				{{ end }}
			</ul>
		</section>
	</aside>

	<article class="prose prose-stone prose-invert col-span-12 max-w-none lg:prose-lg lg:col-span-9">
		{{ .Content }}
	</article>

	<section class="col-span-12 mb-4 mt-8 lg:col-span-9">
		<ul>
			{{ if .Prev }}
			<li class="float-left"><a class="underline" href="{{ .Prev.Permalink }}">&lt;&lt; Previous</a></li>
			{{ end }}

			{{ if .Next }}
			<li class="float-right"><a class="underline" href="{{ .Next.Permalink }}">Next &gt;&gt;</a></li>
			{{ end }}
		</ul>
	</section>
</main>
{{ end }}
