<footer class="flex w-full justify-between py-4 text-stone-400">
	<p class="flex-auto">&copy; {{ replace .Site.Copyright "{year}" now.Year }}</p>

	<ul class="flex flex-initial list-none flex-row">
		<li>
			<a href="{{ .Site.Params.social.github }}" target="_blank" rel="noopener">
				<div class="h-6 w-6">
					{{ os.ReadFile "/static/logos/github.svg" | safeHTML }}
				</div>
			</a>
		</li>
		<li class="pl-2">
			<a href="{{ .Site.Params.social.twitter }}" target="_blank" rel="noopener">
				<div class="h-6 w-6">
					{{ os.ReadFile "/static/logos/twitter.svg" | safeHTML }}
				</div>
			</a>
		</li>
		<li class="pl-2">
			<a href="{{ .Site.Params.social.linkedin }}" target="_blank" rel="noopener">
				<div class="h-6 w-6">
					{{ os.ReadFile "/static/logos/linkedin.svg" | safeHTML }}
				</div>
			</a>
		</li>
	</ul>
</footer>
