<header
	class="top-0 flex h-16 w-full items-center justify-between space-x-4 border-b border-b-stone-700 bg-stone-800 md:sticky"
>
	{{ $img := resources.Get "images/link.png" }}
	{{ $img32 := $img.Resize "32x webp" }}
	{{ $img64 := $img.Resize "64x webp" }}
	<img
		class="h-8 max-h-8 w-8 flex-initial rounded-full"
		src="{{ $img64.RelPermalink }}"
		srcset="{{ $img32.RelPermalink }} 32w, {{ $img64.RelPermalink }} 64w"
		alt="{{ .Site.Title }}"
	/>
	<div class="grow">
		<a href="/">
			<h1 class="font-bold md:text-3xl">{{ .Site.Title }}</h1>
		</a>
	</div>
	<div class="hidden md:block">
		{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
	</div>
	<div class="md:hidden">
		<a href="#menu">Menu</a>
		<div id="menu" class="absolute hidden h-auto w-auto target:block top-0 right-0 p-4 rounded bg-stone-800 ">
			<div class="border border-stone-200 px-4 py-2 rounded">
			{{ partial "menu-collapsible.html" (dict "menuID" "main" "page" .) }}
			</div>
		</div>
	</div>

</header>
