<a href="{{ .Permalink }}">
	<div class="flex h-full flex-col">

		<div>
			{{ $img := .Resources.GetMatch "banner" | default (resources.Get "images/link-missing.png") }}
			{{ $img200 := $img.Resize "200x webp" }}
			{{ $img400 := $img.Resize "400x webp" }}
			{{ $img600 := $img.Resize "600x webp" }}
			<img src="{{ $img600.RelPermalink }}" alt="{{ .Title }} banner image"
				class="h-32 w-full object-cover transition-all md:h-24"
				srcset="{{ $img200.RelPermalink }} 200w, {{ $img400.RelPermalink }} 400w, {{ $img600.RelPermalink }} 600w" />
		</div>

		<div class="flex grow flex-col justify-between overflow-hidden p-4">
			<div>
				<h2 class="text-xl font-bold">{{ .Title }}</h2>

				{{ .Params.description }}
			</div>

			<div class="mt-6 flex justify-between">
				<div class="text-sm">
					{{ partial "author.html" . }}
				</div>
				<div class="w-1/3 text-sm">
					{{ partial "tags.html" . }}
				</div>
			</div>
		</div>

	</div>
</a>
