{{ define "main" -}}
<main class="grid auto-rows-auto grid-cols-3 gap-4 py-12 gap-y-12">

	<section class="hidden md:block">
		{{ $img := resources.Get "images/ben-selfie-posterized.png" }}
		{{ $img120 := $img.Resize "120x" }}
		{{ $img240 := $img.Resize "240x" }}
		{{ $img430 := $img.Resize "430x" }}
		<img class="max-w-sm" src="{{ $img430.RelPermalink }}" alt="Picture of Ben's face"
			srcset="{{ $img120.RelPermalink }} 120w, {{ $img240.RelPermalink }} 240w, {{ $img430.RelPermalink }} 430w"
			loading="lazy" width="100%">
		</img>
	</section>

	<section
		class="prose prose-invert col-span-3 prose-blockquote:my-2 prose-blockquote:rounded prose-blockquote:border-l-4 prose-blockquote:border-pink-600 prose-blockquote:bg-stone-700 prose-blockquote:px-4 prose-blockquote:py-1 prose-blockquote:text-stone-50 md:col-span-2">
		{{ .Content }}
	</section>

	{{ range first 3 (where .Site.RegularPages "Section" "posts") }}
	<div class="block border-stone-200 border rounded p-4">
		<h4 class="text-lg font-bold pb-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
		<p>{{ .Summary | truncate 100 }}</p>
	</div>
	{{ end }}


</main>
{{- end }}
