{{ define "main" -}}

<main class="grid auto-rows-auto grid-cols-2 gap-4">
	<section class="col-span-2 py-24 text-center">
		<h1 class="w-full text-4xl font-bold">This is my cool website</h1>
	</section>

	<section class="prose prose-invert prose-blockquote:my-2 prose-blockquote:rounded prose-blockquote:border-l-4 prose-blockquote:border-pink-600 prose-blockquote:bg-stone-700 prose-blockquote:px-4 prose-blockquote:py-1 prose-blockquote:text-stone-50">
		{{ .Content }}
	</section>

	<div>
		<ul>
			{{- range .Pages }}
			<li>
				<h6><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
			</li>
			{{- end }}
		</ul>
	</div>
</main>
{{- end }}
