{{ define "main" -}}
<main class="grid auto-rows-auto grid-cols-12 gap-4 py-6">

	<section class="col-span-4 py-6 hidden items-center justify-center md:flex">
		{{ $img := resources.Get "images/ben-selfie-posterized.png" }}
		{{ $img120 := $img.Resize "120x webp"}}
		{{ $img240 := $img.Resize "240x webp"}}
		{{ $img430 := $img.Resize "430x webp"}}
		<img class="max-w-sm" src="{{ $img430.RelPermalink }}" alt="Picture of Ben's face"
			srcset="{{ $img120.RelPermalink }} 120w, {{ $img240.RelPermalink }} 240w, {{ $img430.RelPermalink }} 430w"
			loading="lazy" width="100%">
		</img>
	</section>

	<section
		class="col-span-12 prose prose-invert py-6 text-lg prose-blockquote:my-2 prose-blockquote:rounded prose-blockquote:border-l-4 prose-blockquote:border-pink-600 prose-blockquote:bg-stone-700 prose-blockquote:px-4 prose-blockquote:py-1 prose-blockquote:text-right prose-blockquote:text-stone-50 md:col-span-8">
		{{ .Content }}
	</section>

	{{ range first 6 (where .Site.RegularPages "Section" "posts") }}
	<div class="col-span-12 overflow-hidden border border-stone-500 md:col-span-4">
		{{ partial "post-card.html" . }}
	</div>
	{{ end }}

</main>
{{- end }}
