div {
  border: 1px solid black;
  margin: 2rem;
}

div::before {
  content: "div";
  font-family: monospace;
  float: right;
}

main {
  border: 1px solid black;
  margin: 2rem;
}

main::before {
  content: "main";
  font-family: monospace;
  float: right;
}

header {
  border: 1px solid black;
  margin: 2rem;
}

header::before {
  content: "header";
  font-family: monospace;
  float: right;
}

footer {
  border: 1px solid black;
  margin: 2rem;
}

footer::before {
  content: "footer";
  font-family: monospace;
  float: right;
}

nav {
  border: 1px solid black;
  margin: 2rem;
}

nav::before {
  content: "nav";
  font-family: monospace;
  float: right;
}

li {
  border: 1px solid black;
  margin: 2rem;
}

li::before {
  content: "li";
  font-family: monospace;
  float: right;
}

h1 {
  border: 1px solid black;
  margin: 2rem;
}

h1::before {
  content: "h1";
  font-family: monospace;
  float: right;
}

h2 {
  border: 1px solid black;
  margin: 2rem;
}

h2::before {
  content: "h1";
  font-family: monospace;
  float: right;
}

h3 {
  border: 1px solid black;
  margin: 2rem;
}

h3::before {
  content: "h3";
  font-family: monospace;
  float: right;
}

h4 {
  border: 1px solid black;
  margin: 2rem;
}

h4::before {
  content: "h4";
  font-family: monospace;
  float: right;
}

h5 {
  border: 1px solid black;
  margin: 2rem;
}

h5::before {
  content: "h5";
  font-family: monospace;
  float: right;
}

h6 {
  border: 1px solid black;
  margin: 2rem;
}

h6::before {
  content: "h6";
  font-family: monospace;
  float: right;
}

p {
  border: 1px solid black;
  margin: 2rem;
}

p::before {
  content: "p";
  font-family: monospace;
  float: right;
}

a {
  border: 1px solid black;
  margin: 2rem;
}

a::before {
  content: "a";
  font-family: monospace;
  float: right;
}

img {
  border: 1px solid black;
  margin: 2rem;
}

img::before {
  content: "img";
  font-family: monospace;
  float: right;
}

ul {
  border: 1px solid black;
  margin: 2rem;
}

ul::before {
  content: "ul";
  font-family: monospace;
  float: right;
}

ol {
  border: 1px solid black;
  margin: 2rem;
}

ol::before {
  content: "ol";
  font-family: monospace;
  float: right;
}

table {
  border: 1px solid black;
  margin: 2rem;
}

table::before {
  content: "table";
  font-family: monospace;
  float: right;
}

blockquote {
  border: 1px solid black;
  margin: 2rem;
}

blockquote::before {
  content: "blockquote";
  font-family: monospace;
  float: right;
}