/* @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&family=Hind&display=swap'); */
:root {
  --base-font-size: 16px;

  --font-family-base: 'Hind', sans-serif;
  --font-family-heading: 'Expletus Sans', sans-serif;

  --font-weight-base: 400;
  --font-weight-heading: 700;

  --color-background: #272e33;
  --color-text: #d3c6aa;
  --color-link: #f07;
  --color-link-visited: #b07;
}